# Virtual Environment
.venv/
env/
venv/
ENV/

# Secrets
.env
.env.local

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs
.vscode/
.idea/
.DS_Store

# Gradio / App temp files
.gradio/
flagged/
temp.mp3
temp_speech.mp3

# Project specific
libs/
scratch/
